/* 
    BASE
*/
html {
}

body {
    font-family: "Catamaran", Arial, sans-serif;
    color: rgb(50, 45, 50);
    font-size: 1em;
}
body * {
    -webkit-transition: all .25s ease, font .35s ease;
            transition: all .25s ease, font .35s ease;
}
* {
    /*box-sizing: border-box;*/
}

.relative { position: relative; }
.center { text-align: center; }
.alignRight { text-align: right; }
.smallcap { 
    text-transform: uppercase; 
    font-size: 84%;
}
.small { 
	font-size: 84%; 
}
.large { 
	display: inline-flex; 
	font-size: 144%; 
	transform: translate(0, .2em); 
}
.thin { font-weight: lighter; }
.half {
    width: 50%;
}
.mono, var { font-family: "Unica One"; }

.bg-light   { background: rgb(235, 233, 230) }
.bg-red     { background: rgb(255, 60, 0) }
.bg-indigo  { background: rgb(50, 45, 52) }
.bg-green   { background: rgb(140, 230, 70) }
.bg-gray    { background: rgb(150, 135, 155) }
.bg-ocean   { background: rgb(0, 65, 85) }

.t-light   { color: rgb(235, 233, 230) }
.t-red     { color: rgb(255, 60, 0) }
.t-indigo  { color: rgb(50, 45, 52) }
.t-green   { color: rgb(140, 230, 70) }
.t-gray    { color: rgb(150, 135, 155) }
.t-ocean   { color: rgb(0, 65, 85) }

.b-light   { border-color: rgb(235, 233, 230) }
.b-red     { border-color: rgb(255, 60, 0) }
.b-indigo  { border-color: rgb(50, 45, 52) }
.b-green   { border-color: rgb(140, 230, 70) }
.b-gray    { border-color: rgb(150, 135, 155) }
.b-ocean   { border-color: rgb(0, 65, 85) }


h1, h2, h3, h4, h5 {
    
}
h1 {
    font-size: 3em; /* 4em */
}
h2 {
    margin: 0 0 .2em;
    
    font-size: 2em;
	text-transform: uppercase;
    letter-spacing: 1px;
}
h3 {
    margin: 0 0 .5em;
	font-size: 1.25em;
}
h4 {
	margin: 0;
	
	font-size: 1.25em;
	font-weight: 400;
}
h5 {
	margin: 0 0 .5em;
	
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}
hr {
	margin: 3px 0;
	border: none;
    border-bottom: 2px solid;
}

a {
	text-decoration: none;
	color: rgb(255, 60, 0);
	
	-webkit-transition: all .25s ease;
            transition: all .25s ease;
}
a:hover {
	color: rgb(50, 45, 52);
	/*text-shadow: 0 0 10px rgb(254, 250, 253); */
}

.pure-g [class *="pure-u"] { 
    font-family: "Catamaran", Arial, sans-serif;
}

* .skrollable {
    -webkit-transition: initial;
    transition: initial;
}

/* 
    FLEXING
*/

.flex-v {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.flex-h {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.flex2 {
	-webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}
.flex-grow {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}


/* 
    SECTIONS
*/


html, body, .space, .backing, .scrim {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
main {
    /*overflow: hidden;*/
    height: 100%;
}

.contours, .contours-mask {
    position: fixed;
    z-index: 0;
    height: 100%;
    width: 100%;
    
    background-image: url(../images/contours4s.jpg);
    /*background-size: 125%;*/
    
    -webkit-transition: initial;
    transition: initial;
}
.contours-mask {
	background-image: none;
	opacity: .5;
}

.container {
    padding: 2em;
}

/*section.prev {  transform: translate(-10%, -100%); }
section.curr {  transform: translate(0, 0); }
section.next {  transform: translate(-10%, 100%); }
section.hide {  transform: translate(-100%, 200%); }
*/

section {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    
	border-bottom: 1px solid rgb(150, 135, 155);
	
    -webkit-transition: all .79s ease;
            transition: all .79s ease;
}
.mini-section {
	min-height: 200px;
}

section.curr article {
    /*transform: translate(0, 0);*/
}
section article { 
    position: relative;
    z-index: 10;
    min-height: 102%;
    /*transform: translate(100%, 0);*/
    
    -webkit-transition: all 1.5s ease;
            transition: all 1.5s ease;
}

.section-inner {
    position: relative;
	min-height: 100vh;
	
    padding: 0 4em;
}
.mini-section .section-inner {
	position: relative;
	min-height: 10vh;	
    z-index: 1;
	
	padding: 2em 1em;
	
	border-top: 24px solid rgb(255, 60, 0);
	font-size: 90%;
}

.backing {
    opacity: .79;
    z-index: 0;
}



/* 
    NAV
*/

main {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
main.shifted{
    -webkit-transform: translate(130px, 0);
    -ms-transform: translate(130px, 0);
    transform: translate(130px, 0);   
}

aside {
    display: none;
	position: fixed;
    z-index: 1000;
    height: 100%;
    width: 160px;
    
    box-shadow: 1px 1px 1em rgba(100, 100, 100, .25);
    opacity: 1;
    
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    
    -webkit-transition: all .25s ease-in-out;
    		transition: all .25s ease-in-out;
}
aside.out {
    opacity: .9;
    
    -webkit-transform: translate(-120px, 0);
    -ms-transform: translate(-120px, 0);
    transform: translate(-120px, 0);
}
aside.out:hover {
    opacity: 1;
}


.aside-top {
    opacity: .85;
    padding: 8px;
    text-align: right;
    
    cursor: pointer;
}
.aside-top:hover {
    opacity: 1;
}
.hamburger {
    font-size: 0;
} 
.hamburger img{
    width: 24px;
} 




aside nav {
    font-size: 1.1em;
}
aside nav div {
    /*display: inline-block;*/
    position: relative;
    padding: .5em;
    /*border-bottom: 1px solid #999;*/
    
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: lighter;
}
aside nav div:hover {
    
}
aside nav span {
    position: relative;
    z-index: 10;
}
aside object {
    height: 2.5em;
}



/* 
    TITLE & LOGO
*/

.title-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    top: 15em;
    left: 20%;
    right: initial;
    bottom: initial;    
    
    text-align: left;
}
.title-container>div {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 .33em;
}
.title-container .left {
    -webkit-box-flex: initial;
    -webkit-flex: initial;
    -ms-flex: initial;
    flex: initial;
}

h1.title, h1.subtitle {
    margin: 0;
    line-height: 1.1em;
}
h1.title {
}
h1.subtitle {
    margin-bottom: .65em;
    
    /*font-weight: 200;*/
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.interests {
    position: absolute;
    top: initial;
    bottom: 16em;
    left: 20%;
    
    margin-left: 160px;
}
.interests span {
	/*border-bottom: 4px solid rgb(255, 60, 0);
    border-bottom-right-radius: 4px;*/
}


.arrow {
    top: initial;
    bottom: 2em;
    
    font-size: 1.5em;
}
.arrow a {
    width: 50px;
    display: inline-block;
}

/* 
    PROFILE
*/

.profile img {
    border: 1px solid;
	border-radius: 4px;
	box-shadow: 1px 1px 1em rgba(100, 101, 103, .2);
	opacity: .9;
	
	-webkit-transition: all 1.25s ease-in-out;
    		transition: all 1.25s ease-in-out;
}
.profile img:hover {
    -webkit-filter: invert(1);
}

/* 
    PROJECTS
*/

.projects .backing {
	opacity: .9;
}

h2.hititle {
	padding: 2em 0 0;
}

.project-grid {
    position: relative;
	flex-wrap: wrap;
}

.project-wrap {
    padding: 0 0 1.5em;
	max-width: 24em;
}
.project-wrap.open {
	max-width: 200em;
}
.project-box {
	position: relative;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
	align-items: baseline;
	
	padding: 0 .5em;
	border-bottom: 1px dotted rgb(150, 135, 155);
	
	cursor: pointer;
	-webkit-transition: all .25s ease;
            transition: all .25s ease;
}
.project-box:hover {
	border-bottom: 1px solid rgb(255, 60, 0);
}
.open .project-box {
	background-color: rgb(255, 60, 0);
    color: rgb(235, 233, 230);
}
.project-box var {
	/*display: block;*/
	opacity: 1;
	
	font-size: 85%;
	text-transform: uppercase;
	font-style: normal;
	color: rgb(150, 135, 155);
}
.open .project-box var {
    opacity: 0;
}
.project-box .scrim {
	background-color: rgba(255, 60, 0, .1);
	transform: scale(1, 0) skew(50deg, 0);
	transform-origin: 50% 100%;
	
	-webkit-transition: all .25s ease-out;
            transition: all .25s ease-out;
}
.project-box:hover .scrim {
	background-color: rgba(255, 60, 0, .2);
	transform: scale(1, 1) skew(0, 0);
}


.project-container {
    max-height: 0;
	overflow: hidden;
	border-bottom: 0px solid;
}
.open .project-container {
    min-height: 24em;
    border-width: 1px;
    margin-bottom: 1em;
    background: rgb(235, 233, 230);
}



/*
.project-list, .project { 
    position: absolute;
    top: 0;
    bottom: 0;
    
    overflow: auto;
}

.project-list {
    left: 3em;
    width: 15em;
    
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}
.project {
    left: 18em;
    right: 0;
}

.project-list h3 {
    margin: 0;
    padding: .5em 0;
    
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.75em;
    font-weight: lighter;
}

.project-list ul {
    padding: 0;   
    margin: 0;
}
.project-list li {
    list-style: none;
    border-bottom: 1px solid #999;
    cursor: pointer;
    padding: .6em .75em .6em 1.25em;
    
    opacity: .7;
}
.project-list li:first-child {
    border-top: 1px solid #999;
}
.project-list li:hover {
    opacity: 1;
    background: rgba(255, 60, 0, .1);
    box-shadow: inset 0 0 1em .05em rgba(50, 45, 50, .3);
}
.project-list li.active {
    opacity: 1;
    background: rgba(255, 60, 0, .5);
    box-shadow: inset 0 0 1em .1em rgba(50, 45, 50, .9);
}

.project-inner {
    min-height: 100%;
    
    -webkit-transition: all .5s ease-out; 
            transition: all .5s ease-out;
}
.project-inner.old {
    height: 0;
    min-height: 0;
    overflow: hidden;
    
    opacity: 0;
}
.project-inner.old.up {
    -webkit-transform: translate(0, -50%);    
            transform: translate(0, -50%);   
}
.project-inner.old.down {
    -webkit-transform: translate(0, 50%);    
            transform: translate(0, 50%);   
}


.tags {
    opacity: .63;
    margin: 1em 0 0;
}
.slides-container {
    width: 100%;
    min-height: 200px;
    
    margin: 2em 0;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    background: rgba(0, 65, 85, .2);
}
*/


/* 
    CONTACT / FOOTER
*/

.contact a {
	color: rgb(235, 233, 230);
	opacity: .79;
}
.contact a:hover {
	opacity: 1;
	text-decoration: underline;
	text-decoration-style: dotted;
}

