@charset "UTF-8";
html {
  background: #ff3c00; }

body {
  font-family: "Catamaran", Arial, sans-serif;
  color: #322d34;
  font-size: 1em;
  line-height: 1.55; }

.relative {
  position: relative; }

.center {
  text-align: center; }

.align-right {
  text-align: right; }

.smallcap {
  text-transform: uppercase;
  font-size: 84%; }

.small {
  font-size: 84%; }

.smaller {
  font-size: 55%; }

.large {
  font-size: 145%; }

.larger {
  font-size: 200%; }

.thin {
  font-weight: lighter; }

.bold {
  font-weight: bolder; }

.half {
  width: 50%; }

.mono, var {
  font-family: "Unica One", monospace; }

.invert {
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  -ms-filter: invert(1);
  -o-filter: invert(1);
  filter: invert(1); }

.bg-light {
  background: #ebe9e6; }

.bg-red {
  background: #ff3c00; }

.bg-indigo {
  background: #322d34; }

.bg-green {
  background: #8ce646; }

.bg-gray {
  background: #96879b; }

.bg-ocean {
  background: #004155; }

.t-light {
  color: #ebe9e6; }

.t-red {
  color: #ff3c00; }

.t-indigo {
  color: #322d34; }

.t-green {
  color: #8ce646; }

.t-gray {
  color: #96879b; }

.t-ocean {
  color: #004155; }

.b-light {
  border-color: #ebe9e6; }

.b-red {
  border-color: #ff3c00; }

.b-indigo {
  border-color: #322d34; }

.b-green {
  border-color: #8ce646; }

.b-gray {
  border-color: #96879b; }

.b-ocean {
  border-color: #004155; }

.b-none {
  border-color: transparent; }

h1 {
  font-size: 3em; }

h2 {
  z-index: 10;
  margin: .2em auto;
  font-size: 7.5em;
  color: #ebe9e6;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: nowrap; }

h3 {
  margin: 0 0 .25em;
  font-size: 2em; }

h4 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 400; }

h5 {
  margin: 1em 0 0;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .5px; }

hr {
  margin: 3px 0;
  border: none;
  border-bottom: 2px solid; }

a {
  text-decoration: none;
  color: #ff3c00;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  a:hover {
    color: #322d34;
    opacity: .8; }
  a[href^='http://']:not([href*='supraset.com']):after, a[href^='https://']:not([href*='supraset.com']):after, a[href^='//']:not([href*='supraset.com']):after {
    content: '➔';
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    font-weight: 100;
    font-size: 80%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  a[href=''] {
    background: yellow; }

.b-lazy {
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -ms-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  max-width: 100%;
  opacity: 0; }
  .b-lazy.b-loaded {
    opacity: 1; }

.flex-v {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-h {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.flex {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.flex2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.justify-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.justify-between {
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between; }

.justify-around {
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around; }

.flex-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.flexcols {
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flexcol {
  min-width: 200px;
  -webkit-box-flex: 1 0 200px;
  -webkit-flex: 1 0 200px;
  -ms-flex: 1 0 200px;
  flex: 1 0 200px; }

.flexcol + .flexcol {
  margin-left: 1.5em; }

html, body, .space, .backing, .scrim {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0; }

main {
  overflow: hidden;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }
  main.shifted {
    -webkit-transform: translate(130px, 0);
    -moz-transform: translate(130px, 0);
    -ms-transform: translate(130px, 0);
    -o-transform: translate(130px, 0);
    transform: translate(130px, 0); }

.contours,
.contours-mask {
  position: fixed;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-image: url("../images/contours4s.jpg");
  -webkit-transition: initial;
  -moz-transition: initial;
  -ms-transition: initial;
  -o-transition: initial;
  transition: initial; }

.contours-mask {
  background-image: none;
  opacity: .25; }

.container {
  padding: 32px 2em 2em; }

.text.container {
  max-width: 700px; }

.text h5 {
  margin: 0 0 .5em;
  border-bottom: 2px solid #96879b; }

section {
  position: relative;
  min-height: 100vh;
  width: 100vw; }
  section article {
    position: relative;
    z-index: 10;
    min-height: 102%; }

.section-inner {
  position: relative;
  min-height: 100vh;
  padding: 0 4em; }
  .what .section-inner {
    padding: 0; }

.where a:hover {
  color: #ebe9e6; }

.foot a {
  color: #ebe9e6; }
  .foot a:hover {
    color: #004155; }

section h2 {
  position: relative;
  text-align: center;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  font-family: "Unica One", monospace;
  line-height: 90%; }
section .backing {
  opacity: .79;
  z-index: 0; }
section .stretch-back {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: relative;
  margin: 0 -4em;
  padding: 32px 4em; }
section .stretch {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 38px -4em 0;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-size: cover;
  border-top: 2px solid #322d34;
  border-bottom: 2px solid #322d34;
  -webkit-transition: all 0.79s ease;
  -moz-transition: all 0.79s ease;
  -ms-transition: all 0.79s ease;
  -o-transition: all 0.79s ease;
  transition: all 0.79s ease; }
  section .stretch img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; }
section .stretch.b-red {
  border-color: #ff3c00; }
section .stretch.b-light {
  border-color: #ebe9e6; }

.mini-section {
  min-height: 200px; }
  .mini-section .section-inner {
    position: relative;
    min-height: 10vh;
    z-index: 1;
    padding: 2em 1em;
    border-top: 24px solid #ff3c00;
    font-size: 90%; }

aside {
  display: block;
  position: fixed;
  z-index: 1000;
  right: 0;
  top: 0;
  left: 0;
  height: 38px;
  padding: 0 2em;
  border-bottom: 2px solid #ff3c00;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  aside .backing {
    opacity: .75; }
  aside:hover .backing {
    opacity: .9; }
  aside var {
    display: inline-block;
    margin-left: .25em;
    opacity: 0;
    font-style: normal;
    font-family: "Catamaran", Arial, sans-serif;
    -webkit-transform: translate(0, 0.5em) rotate(180deg);
    -moz-transform: translate(0, 0.5em) rotate(180deg);
    -ms-transform: translate(0, 0.5em) rotate(180deg);
    -o-transform: translate(0, 0.5em) rotate(180deg);
    transform: translate(0, 0.5em) rotate(180deg);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
  aside nav {
    font-size: 1em; }
    aside nav a {
      position: relative;
      padding: 15px 1em 0 12px;
      overflow: hidden;
      cursor: pointer;
      line-height: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: lighter;
      color: #322d34; }
    aside nav a:hover {
      color: #ff3c00;
      border: none; }
      aside nav a:hover var {
        opacity: 1;
        -webkit-transform: translate(0, 0) rotate(0deg);
        -moz-transform: translate(0, 0) rotate(0deg);
        -ms-transform: translate(0, 0) rotate(0deg);
        -o-transform: translate(0, 0) rotate(0deg);
        transform: translate(0, 0) rotate(0deg); }
    aside nav span {
      position: relative;
      z-index: 10;
      white-space: nowrap; }
  aside object {
    height: 2em;
    -webkit-filter: saturate(0.25);
    -moz-filter: saturate(0.25);
    -ms-filter: saturate(0.25);
    -o-filter: saturate(0.25);
    filter: saturate(0.25); }
    aside object:hover {
      -webkit-filter: saturate(1);
      -moz-filter: saturate(1);
      -ms-filter: saturate(1);
      -o-filter: saturate(1);
      filter: saturate(1); }

.title-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end; }
  .title-container > div {
    padding: 0 .33em; }
  .title-container .left {
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-flex-item-align: center;
    align-self: center; }

.title,
.subtitle {
  margin: 0;
  line-height: 1.1em; }

.subtitle {
  margin-bottom: .65em;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 4px; }

.interests {
  font-size: 21px;
  letter-spacing: 2px; }

.arrow a {
  width: 50px;
  display: inline-block;
  font-size: 2.5em;
  color: #322d34; }
  .arrow a:hover {
    color: #ff3c00; }

.project-grid {
  width: 100vw; }

.project {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1.5em;
  border-radius: .5em;
  background: rgba(255, 253, 250, 0.9);
  box-shadow: 0 0 0.75em rgba(100, 85, 105, 0.25);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  .project:hover {
    box-shadow: 0 0 1.5em rgba(100, 85, 105, 0.25); }
  .project h4 {
    z-index: 10;
    color: #004155; }
  .project .tags {
    margin-top: 1em;
    font-family: "Unica One", monospace;
    text-transform: uppercase; }
    .project .tags .label {
      color: #322d34; }
    .project .tags .values {
      color: #322d34; }

.project-sidebar {
  width: 21em;
  padding: 1.5em; }

.project-slides {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  min-width: 21em;
  background: linear-gradient(180deg, rgba(150, 135, 155, 0.25) 50%, rgba(150, 135, 155, 0) 100%); }
  .project-slides .slides {
    min-height: 25em; }
    .project-slides .slides img {
      width: 100%; }
  .project-slides .bx-wrapper {
    margin: 0;
    border-width: 1px; }

.archive {
  display: block;
  max-height: 2em;
  max-width: 21em;
  overflow: hidden;
  padding: 1.4em 2em;
  cursor: pointer; }
  .archive.project {
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -ms-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out; }
  .archive > div {
    opacity: 0;
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -ms-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out; }
  .archive > div:first-child {
    opacity: 1; }
  .archive.open {
    max-height: 100em;
    max-width: 1000em; }
    .archive.open > div {
      opacity: 1; }
    .archive.open .plus {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
  .archive .plus {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    line-height: 0;
    font-size: 3em; }
  .archive:hover .plus, .archive:active .plus {
    color: #ff3c00; }
  .archive ul {
    margin: 0;
    padding: 0; }
  .archive li {
    margin: 0 0 1em;
    list-style: none;
    font-size: 110%; }
    .archive li a {
      line-height: 1.35em; }
    .archive li span {
      display: block;
      margin-top: -.25em;
      font-size: 80%;
      font-family: "Unica One", monospace;
      text-transform: uppercase;
      color: #96879b; }

.contact a {
  color: #ebe9e6;
  opacity: .79; }
  .contact a:hover {
    opacity: 1;
    text-decoration: underline;
    text-decoration-style: dotted; }

@media only screen and (min-width: 1152px) {
  body {
    font-size: 95%; } }
@media only screen and (min-width: 960px) and (max-width: 1151px) {
  body {
    font-size: 92%; } }
@media only screen and (min-width: 640px) and (max-width: 959px) {
  body {
    font-size: 88%; }

  .section-inner {
    padding: 0 2.5em 1.5em; }

  .container {
    padding: 32px 1.25em; }

  section .stretch {
    margin: 38px -2.5em 0; }

  h2 {
    margin: .15em auto;
    font-size: 6.25em; } }
@media only screen and (max-width: 641px) {
  .sm-col-reverse {
    flex-direction: column-reverse; }

  .hide {
    display: none; }

  body {
    font-size: 84%; }

  .flexcol {
    margin-top: 1em; }
    .flexcol.align-right {
      text-align: inherit; }
    .flexcol.container {
      margin-bottom: 0;
      padding: 10px; }

  .flexcol + .flexcol,
  .flexcols * + * {
    margin-left: 0; }

  aside {
    padding: 0 1em; }

  nav {
    font-size: 90%; }
    nav a {
      letter-spacing: .5px; }

  .section-inner {
    padding: 0 10px 4em; }

  .container {
    padding: 32px 10px; }

  section .stretch {
    margin: 38px -10px 0; }

  h2 {
    margin: .1em auto;
    font-size: 5em; }

  .interests {
    font-size: 13px;
    letter-spacing: 1px; }

  .project {
    opacity: 1;
    margin: 1.25em .5em 0;
    box-shadow: 0 0 0.75em rgba(100, 85, 105, 0.25);
    background: rgba(255, 253, 250, 0.9); }

  .where {
    margin-bottom: -52px; } }
@media only screen and (min-width: 640px) and (max-width: 481px) {
  .title-container .right {
    font-size: 80%; }
  .title-container object {
    width: 100px; } }
@media only screen and (max-width: 480px) {
  .title-container .right {
    font-size: 67%; }
  .title-container object {
    width: 88px; } }

/*# sourceMappingURL=styling-compressed.css.map */
