$font-sans: "Catamaran", Arial, sans-serif;
$font-mono: "Unica One", monospace;

$c-paper: rgb(255, 253, 250);
$c-light: rgb(235, 233, 230);
$c-red: rgb(255, 60, 0);
$c-indigo: rgb(50, 45, 52);
$c-green: rgb(140, 230, 70);
$c-gray: rgb(150, 135, 155);
$c-dimgray: rgba(150, 135, 155, .25);
$c-ocean: rgb(0, 65, 85);